<style>
	
.text {
    background-color: #ffffff;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 22px;
    padding-left: 2px;
    width: 400px;
}
	
	.master{}
	
.link {
    background: none repeat scroll 0 0 green;
    border-radius: 15px;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 3%;
    padding: 6px 0;
    text-align: center;
    width: 27%;
}
	.master .link:hover{ background:#87f284;}
	.master .link:hover a{ color:#000; text-decoration:underline}
	
.link a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
	.link a:hover{ color:#0C0; background:}
	.logout{background: #0B8E04;
    border-radius: 4px 0px;
    color: #FFF;
    font-size: 13px;
    padding: 4px 8px; border:1px solid #00BB00; font-weight:bold}
	.logout:hover{ color:#c4c4c4; text-decoration:underline}
</style>