@charset "utf-8";

/* CSS Document */



body{

font-family: Arial,Helvetica,sans-serif;		

}

h2{

	margin: 2px auto;

}

a{

	text-decoration: none;



	

}

#container{

	height: auto;

	margin: auto;

	width: 100%;

	overflow: hidden;

}

	

#wrapper{

	width: 1000px;

	height: auto;

	margin: auto;

	background: url('../images/bg-body.jpg');





}

#header{

	width: 100%;

	height: 100px;

	background-image: url(../images/bg-header.jpg);

	

}

.logo{

	display: block;

	height: 90px;

	float: left;

	margin-left: 10px;



}

.logo img{

	height: 86px;

	margin-top: 10px;

}



.nav {

    border-bottom: 2px solid green;

    float: right;

    height: 51px;

    margin: 24px 0 0;

    width: 65%;

}

.nav ul{

	border: solid 0px #003300;

	height: 80px;

	display: inline-block;

	padding: 0px;

	width: 100%;

}



.nav ul li {

    border-right: 1px solid #333;

    float: left;

    height: 15px;

    list-style: none outside none;

    margin-left: 0;

    padding: 0 16px;

    text-align: center;

}

.nav ul li:last-child{ border-right:none}





.nav ul li a {

    color: #333;

    display: block;

    font-size: 15px;

    font-weight: normal;

    height: 23px;

    line-height: 17px;

    text-decoration: none;

    text-shadow: 0 1px 0 #fff;

}

	

	

.nav ul li a:hover{

	color: #257425;

	border-bottom: solid 4px #257425; font-weight:bold;

}	





#content{

	height:auto;

  margin:0px auto;

  overflow:visible;

  width:100%;

}

#content .txt{

	

	height: 20px;

	width: 90%;

	margin: auto;

	border-bottom: solid 1px green;

}

.txt p{

	font-size: 20px;

	line-height: 10px;

	font-weight: bold;

}

#imagePost{

	width: 100%;

	height: 350px;

	background: url(../images/section-header.jpg) repeat-x bottom;	

	position: relative;

	z-index: 1;

	margin: 10px auto;

}

.slider-wrapper { 

	width: 100%; 

	margin: auto;

}

#topContainer{

	

	margin: 10px auto;

	width: 100%;

}



#topContainer .grid1 {

    background: none repeat scroll 0 0 rgba(239, 245, 232, 0.63);

    border: 1px solid green;

    border-radius: 10px 0;

    display: inline;

    float: left;

    height: auto;

    

    margin-left: 60px;

    margin-top: 20px;

    width: 290px;

}

#topContainer .grid1:first-child{

	margin-left:0;

}

#topContainer .grid1:hover{ background:#87F284}





#topContainer .grid2{

	

	height: auto;

	width: 275px;

	border: outset 1px #333333;

	float: left;

	background: rgba(239, 245, 232, 0.63);

	margin-top: 20px;

	margin-left: 40px;

	display: inline;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

}

#topContainer .grid3{

	

	height: auto;

	width: 275px;

	border: outset 1px #333333;

	float: left;

	background: rgba(239, 245, 232, 0.63);

	margin-top: 20px;

	margin-left: 80px;

	margin-right: 0px;

	display: inline;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

}



figure.icon {

    border-bottom: 1px dashed #030;

    margin: auto;

    width: 90%;

}



figure.icon img {

    border-radius: 10px 0;

    height: 180px;

    margin: 13px 0;

    width: 262px;

}

.text-1{

	padding: 5px;

	text-align: center;

	margin: auto;

	width: 90%;

	color: #539A34;

	text-transform: uppercase;

	font-size: 20px;

}

.text-1 a{ color:#539A34}

.text-1 a:hover{ color:#30591E}







h4 span{

	color: #3e7227;

}

.text-2{

	font-size: 15px; 

	color: #333; 

	line-height: 20px;

	width: 240px;

	margin-left: 25px;

	margin-top: 15px; 

	text-align: justify; text-align:center

}

.btn{

	margin-left: 65px;

	margin-top: 20px;

}



a.button-1 {

    background-color: #266918;

    border-radius: 5px 0;

    color: #fff;

    cursor: pointer;

    display: inline-block;

    font-family: 'Open Sans Condensed',sans-serif;

    font-size: 14px;

    font-weight: 700;

    line-height: 17px;

    padding: 8px 30px;

    text-decoration: none;

    text-transform: uppercase;

    transition: all 0.2s ease 0s;

}

a.button-1:hover { 

	

	background: #1BD316; 

	 

	-webkit-transition: all 0.2s ease;

	-moz-transition: all 0.2s ease;

	-o-transition: all 0.2s ease; 

	transition: all 0.2s ease;

}

.button-2 {

	cursor: pointer; 

	background-color: #301210;

	text-decoration: none;

	font-weight: 700;

	font-size: 14px;

	padding: 8px 30px;

	border: 1px solid #301210 ;

	border-radius: 3px;

	display: inline-block;

	-webkit-transition: all 0.2s ease;

	-moz-transition: all 0.2s ease;

	-o-transition: all 0.2s ease;

	transition: all 0.2s ease;

	margin-left: 70px;

	margin-top: 5px;

	

}

.button-2 a{

	color: #FFF;

	font-size: 14px;

	line-height: 17px;

	display: inline-block;

	text-align: center;

}

.button-2:hover { 

	border: solid 1px #fdd330;

	background: #fdd330; 

	color: #754f44; 

	-webkit-transition: all 0.2s ease;

	-moz-transition: all 0.2s ease;

	-o-transition: all 0.2s ease; 

	transition: all 0.2s ease;

}



#buttomContainer{

	

	height: auto;

	width: 100%;

	margin: 10px auto;

	border: solid 1px green;

}

.featuredNews{

	height: auto;

	width: 60%;

	margin: auto;

	border: solid 1px red;

	float: left;

}

.featuredLinks{

	height: auto;

	width: 35%;

	margin: auto;

	float: right;

	border: solid 1px green;

}







.font_9{

	font: 14px/1.3em 'open sans',sans-serif;

	color: rgb(21,38,53);

	text-align: justify;

	text-justify: inter-word;

	line-height: 1.8;



}

/*  Css For Adding Farmer information */	

			

#farmerProfile{

	height: auto;

	margin: auto;

	width: 100%;

	min-height: 350px;

}

.farmerPersonalDetails{

	float: left;

	height: auto;

	margin: 10px auto;

	width: 60%;

	

}

.userPhoto{

	float: right;

	margin-right: 40px;

	margin-bottom: auto;

	margin-left: auto;

	margin-top: 5px;

	width: 30%;

	height: auto;

	min-height: 300px;

	

}

.userPhoto img{

	margin: 60px 50px;

	height: 200px;

	width: 200px;

	border: solid 1px;

	border-radius: 100px;

	-webkit-border-radius: 100px;

	-moz-border-radius: 100px;

	-khtml-border-radius: 100px;

	display: block;

	alignment-adjust: central;

}

.farmerAgriProfile{

	height: auto;

	width: 100%;

	margin: 5px auto;

}

.farmerCattleProfile{

	height: auto;

	width: 100%;

	margin-top: 20px;

	margin-left: auto;

	margin-right: auto;

	margin-bottom: 20px;

	min-height: 200px

	

}

.ispan{

	height: 30px;

	width: 90%;

	margin: auto;

	border-bottom: outset 2px #1FA8C4;

}

.ispan p{

	color: #1FA8C4;

	font: 18px;

	font-weight: bold;

	margin: 10px 20px;

}



.farmerPersonalDetails ul{

	height: auto;

	width: 90%;

	list-style: none;

	margin: auto;

	padding: 0;

}



.farmerPersonalDetails ul li{

	height: auto;

	border-bottom: inset 1px #CAC8C8;

	font: 15px;

	font-weight: 400;

	font-family: calibri;

	line-height: 45px;

	padding: 5px 2px;

	overflow: hidden;

	color: #000;

	margin-left: 15px;

}

.farmerPersonalDetails label{

	height: auto;

	width: 200px;

	padding: 5px;

	color: #296339;

	margin-right: 15px; 

}

/*table{

	border-collapse: collapse;

	width: 90%;

	height: auto;

	margin: 10px auto;

	padding: 5px;

	box-shadow: 10px 10px 5px #888888;

	border-radius: 5px;

	-webkit-border-radius: 5px;

}

tr{

	display: table-row;

	border-bottom: inset 1px;

	margin: 10px auto;

	padding: 5px;

}

td{

	text-align: center;

	padding: 10px auto;

	

	

}

th{

	vertical-align: inherit;

	display: table-cell;

	height: auto;

	padding: 5px;

	border-bottom: solid 1px green;

	background-color: #d9a826; 

}

*/



td

{

	font-family:Tahoma, Arial, Verdana, Helvetica, sans-serif; line-height:16px; font-size:11px;	

}



.districtList{

	height: 100%;	

	width: 100%;

	margin: auto;

}

.districtList ul{

	width: 90%;

	margin: 10px auto;

}

.districtList ul li{

	list-style: url(../images/bullet.png);

	height: 40px;

	width: 140px;

	padding: 5px;

	float: left;

	margin: 0px 5px 0px 15px;

	border-bottom: inset 1px #999999 ;



}

.districtList ul li  p a{

	margin-left: 50px;

	text-align: center;

	text-decoration: none;

	color: #570000;

	font-size: 15px;

}

.districtList ul li a:hover{

	cursor: pointer;

	color: #1e6316;

}



.farmerList{

	height: 100%;

	width: 100%;

	margin: auto;

}

.farmerList ul{

	height: 90%;

	width: 90%;

	margin: auto;



}

.farmerList ul li{

	height: auto;

	width: 25%;

	float: left;

	margin: 1px 10px 1px 30px;

	border-bottom: solid 1px grey;

	list-style: url(../images/bullet.png);

}

.farmerList ul li p{

	margin-left: 50px;

	list-style: url(../images/bullet.png);

}

.farmerList ul li a{

	text-decoration: none;

	font-size: 15px;

	text-align: center;

	color: #090000;

	

}



/*   About Us*/

#mainContent{

	height: auto;

	width: 100%;

	overflow: visible;

	margin: 10px auto;

}



#mainContent.grid4{

	height: auto;

	float: left;

	width: 100%;

	display: inline-block;

	margin: 10px;

	border: solid 1px black;

}

.grid5{

	display: inline-block;

	width: 35%;

	float: right;

	margin: 10px;

	border: solid 1px green; 

}

.grid6{

	height: 90px;

	width: 100%;

	margin: 10px auto;

}

.image{

	float: left;

	margin: auto 10px;

	height: 80px;

	width: 80px;



}

.text-7{

	color: #e8554e;

	font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;

	font-weight: 700;

	text-align: center;

	letter-spacing: 1px;

	font-size: 17px;

	height: auto;

	width: 90%;

	border-bottom: 2px inset; 

	margin: 10px auto;

	

}

.text-7 p{

	color: #060000;

	font-size: 12px;

	letter-spacing: 1px;

	

}

.text-6{

	color: #9a9785; 

	line-height: 20px;

	width: 90%;

	margin-left: 25px;

	margin-top: 15px; 

	margin-right: 25px;

	font: 15px/1.3em 'open sans',sans-serif;

	text-align: justify;

	text-justify: inter-word;

	line-height: 1.8;

	

	

}

.text-5{

	overflow: hidden;

	height: 80px;

	width: 200px;

	margin: 0px 0px 0px 120px;

	font: 14px/1.3em 'open sans',sans-serif;

	text-align: justify;

}

.text-5 span{

	color: #caa935;

	font: 16px/1.3em 'open sans',sans-serif;

}

.text-4{

	margin: auto 10px;

	border-bottom: dashed 1px;

}

.text-4 p{

	margin-bottom: 10px;

	font-size: 18px;

	color: #060;

	

}

 

.text-3{

	color: #9a9785; 

	line-height: 20px;

	width: 90%;

	margin-left: 25px;

	margin-top: 15px; 

	margin-right: 25px;

	font: 15px/1.3em 'open sans',sans-serif;

	text-align: justify;

	text-justify: inter-word;

	line-height: 1.8;

}

.txt1{



	margin: auto 10px;

	border-bottom: inset 1px green;

}

.txt1 p{

	margin-bottom: 10px;

	font-size: 20px;

	color: #b0a217;

}





/*   Contact Page ********************************************************/

.contact_grid{

	height: 550px;

	width: 100%;

	margin: auto;

}

.contactForm{

	float: left;

	width: 65%;

	margin: auto;

	

}



.contactForm ul{

	

	height: auto;

	width: 90%;

	border: soli1 1px blue;

}

.contactForm ul li{

	list-style: none;

	height: auto;

	padding: 10px;

	border-bottom: inset 1px;

}



.contactForm li:first-child, .contactForm li:last-child {

	/*border-bottom:1px inset #777; */

}

.contactForm ul label{

	width: 150px;

	margin-top: 10px;

	display: inline-block;

	float: left;

	padding: 3px;

	margin-left: 5px;

	height: 30px;

	text-align: center;

	font-weight: 700;

	

}



.contactForm input{

	width: 200px;

	height: 30px;

	padding: 5px 10px;;

}

.contactForm textarea {

	padding: 8px; 

	width: 300px;}

.contactForm button {

	margin-left: 156px;}

	

.contactForm input, .contactForm textarea { 

	border: 1px solid #aaa;

	border-radius: 5px;

	padding-right: 30px; 

	-moz-transition: padding .25s; 

	-webkit-transition: padding .25s; 

	-o-transition: padding .25s;

	transition: padding .25s; 

}

	

/* === Button Style === */

button.submit {

	background-color: #68b12f;

	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));

	background: -webkit-linear-gradient(top, #68b12f, #50911e);

	background: -moz-linear-gradient(top, #68b12f, #50911e);

	background: -ms-linear-gradient(top, #68b12f, #50911e);

	background: -o-linear-gradient(top, #68b12f, #50911e);

	background: linear-gradient(top, #68b12f, #50911e);

	border: 1px solid #509111;

	border-bottom: 1px dashed #5b992b; 

	border-radius: 3px;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	-ms-border-radius: 3px;

	-o-border-radius: 3px;

	box-shadow: inset 0 1px 0 0 #9fd574;

	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;

	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;

	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;

	-o-box-shadow: 0 1px 0 0 #9fd574 inset;

	color: white;

	font-weight: bold;

	padding: 10px 30px;

	font-size: 15px;

	text-align: center;

	text-shadow: 0 -1px 0 #396715;

}

button.submit:hover {

	opacity: .85;

	cursor: pointer;

}

button.submit:active {

	border: 1px solid #20911e;

	box-shadow: 0 0 10px 5px #356b0b inset; 

	-webkit-box-shadow: 0 0 10px 5px #356b0b inset ;

	-moz-box-shadow: 0 0 10px 5px #356b0b inset;

	-ms-box-shadow: 0 0 10px 5px #356b0b inset;

	-o-box-shadow: 0 0 10px 5px #356b0b inset;

	

}

.contactAdd{

	width: 30%;

	float: right;

	margin: auto;

	background: #F5F5F5;

	border-left: inset 1px;

}

.text-9{

	font: 15px/1.3em;

	color: #105212;

}

.text-9{

	background-color: #35acca; 

	height: 15px;

	width: 100%;

	margin: 0;

	font: 15px /1.3em 'open sans',sans-serif;

	color: #000;

	text-align: center;

	text-transform: uppercase;

	font-weight: bold;

	padding: 10px 0px;

}

.text-8{

	background-color: #35acca; 

	height: 20px;

	width: 100%;

	margin: 0;

	font: 15px /1.3em 'open sans',sans-serif;

	color: #000;

	text-align: center;

	text-transform: uppercase;

	font-weight: bold;

	padding: 10px 0px;

}



.text-7 ul{

	height: auto;

	width: 90%;

	margin: 10px auto;

}

.text-7 ul li{

	height: auto;

	list-style: none;

	float: left;

	margin-left: 10px;

	margin-top: 10px;

}

#footer

{

	height: 120px;

	width: 1000px;

	margin-top: 10px;

	border-top: inset 1px;

	margin: 33px 0 0 0;

}

.fbLike{

	height: 90%;

	width: 200px;

	border: solid 1px;

	margin-left: 540px;

}

.footer-social-icon{

	height: 55%;

	width: 28%;

	float: right;

	margin-left: 0px;

	margin-top: 10px;

}

.footer-social-icon h4{

	padding: 0px;

	margin: 0px;

	border: 0px; font-size:13px; font-weight:normal; color:#333;

}

.footer-social-icon ul{

	list-style: none;

	margin: 7px 0px;

	border: 0px;

	padding: 0px;

}

.footer-social-icon ul li{

	list-style: none;

	display: inline-block;

	float: left;

	height: 30px;

	margin: auto 13px auto 0;

	

}

.footer-text1{

	height: auto;

	width: 100%;

	float: right;

	margin-top: 15px;

	margin-left: 0px;

}

.footer-text1 span{

	font: 13px/1.3em 'open sans',sans-serif;

	text-align: center;

	font-weight: 500;

	

}	



.last-footer{

	height: 100%;

	width: 52%;

	float: left;

}

.footer-text{

	height: auto;

	width: 100%;

	margin: 2px;

	font: 13px 'open sans',sans-serif;

	font-weight: 700; color:#333;

}

.last-footer img{

	height: 70px;

	width: 70px;

	margin: 2px; cursor:pointer;

}

/*   NEws----------------*/



.news-grid{

	height: auto;

	width: 60%;

	margin: auto;

	float: left;

	border: solid 1px;

}

.headline{

	height: 100px;

	overflow: hidden;

	margin-bottom: 20px;

	margin-left: 10px;

	width: 90%;

	

}

#content .newsContainer{

	margin: 10px;

	height: auto;

	width: 60%;

	float: left;

}



.newsHeader{

	height: auto;

	width: 80%;

	margin-left: 70px;

	margin-bottom: 20px;

	padding-bottom: 10px;

	text-align: justify;

	text-justify: inter-word;

	line-height: 1.8;

	font: 18px/1.3em 'open sans',sans-serif;

	border-bottom: inset 1px;

	font-weight: bold;

	text-transform: uppercase;

}

.newsImage{

	height: 250px;

	width: 70%;

	margin: auto;

}

.imageCap{

	height: 15px;

	width: 70%;

	margin: auto;

	font: 15px/1.3em 'open sans',sans-serif;

	text-align: center;

}

.newsContent{

	line-height: 20px;

	width: 550px;

	margin-left: 25px;

	margin-top: 15px; 

	margin-right: 25px;

	font: 14px/1.3em 'open sans',sans-serif;

	text-align: justify;

	text-justify: inter-word;

	line-height: 1.8;

	height: auto;

	

}

.topNews{

	margin: 10px;

	height: auto;

	width: 35%;

	float: right;

}

.topNews ul{

	height: auto;

	margin-left: 5px;

	padding-left: 5px;

	margin-right: 5px;

	width: 95%;

	

}

.topNews ul li{

	list-style: url(../images/bullet.png);

	height: auto;

	padding: 5px 0px;

	margin-left: 20px;

	border-bottom: inset 1px;



}

.topNews ul li a{

	text-decoration: none;

	color: #3068a0; 

	font: 14px/1.3em 'open sans',sans-serif;

	text-align: justify;

	text-justify: inter-word;

	line-height: 1.8;

}

.topNews ul li a:hover{

	color: #378393;

}

.marketNews{

	width: 35%;

	float: right;

	margin-top: 20px;

	background: url('../images/bg-header.jpg');



}

.marketNews ul{

	height: auto;

	width: 90%;

	list-style: none;

	margin: auto;

	padding: 0px;

	

}

.marketNews ul li{

	margin-left: 20px;

	width: 90%;

	list-style: url(../images/bullet_green.png);

	height: auto;

	padding: 5px;

	font-size: 14px;

	border-bottom: inset 1px;

	

}

.marketNews ul li label{

	width: 130px;

	margin-left: 0px;

	display: inline-block;

}





.copyright{ text-align:center; font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:#5C5C5C}



.contentHdr{ margin-top:0px;}



